$color-1: #52798d; // Cayman Bay Color
$color-2: #8a463b; // Red Hawk Color
$color-3: #f4935b; // Candied Yam Color
$color-4: #e19b55; // Apple Crisp
$color-5: #4d4d4d; // Dark Gray

.cd-navigation {
   h3{
       color:$color-1;
       margin-bottom: 10px;
   } 
   ul{
       margin-bottom: 20px;
   }
  a:link{
      color: $color-2;
  }
  a:visited{
      color: $color-2;
  }
  a:hover{
      color: $color-4;
  }
  a:active{
      color: $color-5;
  }
}

.cd-secondary-nav{
    li{
    display: inline;
    }
    li a{
        padding: 10px;
    }
}

.cd-other-nav{
    ul {
        columns: 2;
      }
}