@media only screen and (min-width: 60em) {

    
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: #f6f4f2;
        list-style: none;
    }    
    .navigation li {
      display: block;
      flex: 1 1 100%;

    }
  
    .navigation li:first-child {
      display: none;
    }
    .call-to-action{
        padding: 10px;
        font-size: 25pt;
        width: 300px;
        height: 250px;
        left: 61%;
     }
     #section2{
      display:block;
      margin-top:-5px;
      color:black;
      text-align: center;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    #section2 table{
     display: table;
     width: 100%;
    background-color: #637785;
    }
    #section2 table, th, td {
     border: 1px solid #425664;
     border-collapse: collapse;
     padding: 10px;
    }
    #section2 th{
     background-color: #425664 ;
     color:white;
    }
     #trips{
        display:grid;
             grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      #reserve-table{
        max-width: 700px;
      }
      form div{
        margin-left: 30%;
      }
      #map{
        width: 25%;
         height: 200px;
         margin-top: -20px;
         margin-left:15%;
        }
        #contact{
          margin-top: 50px;
          margin-bottom: 110px;
        }
        #social-media{
          float: right;
          margin-top: -80px;
          margin-right: 20%;
        }
        .cards{
          display:grid;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 50px;
          grid-gap: 20px;
        }
        .cards section{
          width: 250px;
          padding: 20px;
        }
        .cards img{
          margin-left: 0%;
        }

@media only screen and (min-width: 80em) {
    .call-to-action{
        font-size:30pt;
        height:300px;
        width:400px;
        left: 65%;
    }
      }

@media only screen and (min-width: 100em) {
    .call-to-action{
        font-size:30pt;
        left: 65%;
        height: 300px;
        width: 500px;
    }
  }
}