@media only screen and (min-width: 60em) {
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        list-style: none;
        font-size: 20px;
    }    
    .navigation li {
      display: block;
      flex: 1 1 100%;

    }
  
    .navigation li:first-child {
      display: none;
    }
    
    #pics{
        display:grid;
        grid-template-columns: 400px 400px 400px;
        grid-gap: 10px;
        margin: 0, auto;
        justify-content: center;
        align-items: center;
    }

    footer{
    border-radius: 10px;
    }

    .weathersummary{
        width: 35%;
        top: 30px;
        margin-left: 30px;
        height: auto;
        font-size: 15pt;
     }
    }