$blue: #6495ED;
$light-cream: #FAEBD7;
$dark-cream: #DEB887;
$white: white;
$gray: gray;
$black: black;
$lora: 'Lora', serif;
$helvetica: Helvetica, Arial, sans-serif;
$break-large: 60em;

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $break-large){
        &{
            max-width: 950px;
        }
    }
}
header{
    background-color:$blue;
    color: $light-cream;
    text-align: right;
    font-family: $lora;
    padding: 20px;
    padding-top: 20px;  
    a{
        color: $light-cream;
        text-decoration: none;  
    } 
    a:visted{
        color: $light-cream;
        text-decoration: none;
    }
    a:active{
        color:$dark-cream;
    }
    a:hover{
        color:$white;
        text-decoration: underline;
    }
    li{
        list-style: none;
        padding-bottom: 15px;
    }
    @media (min-width: $break-large){
        &{
        
                width: 220px;
                height: 100%;
                position: fixed;
                margin-right: 20px;
            }  
        }
    
}
main{
    background-color: $light-cream;
    font-family: $helvetica;
    padding:20px;
    a{
        color:$blue;
        text-decoration: none;
        @media (min-width: $break-large){
            &{
                padding: 10px  
                }  
            }
    }
    a:visited{
        color:$blue;
        text-decoration: none;
    }
    a:active{
        color: $dark-cream;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
article{
    background-color: $white;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px $gray;
    @media (min-width: $break-large){
        &{
            max-width: 500px;
        margin-right: 50px;
        margin-left: auto;
        margin-top: 30px;  
            }  
        }
}
.post-date{
    color:$gray;
    margin-bottom: -10px;
}
.post-content h2 {
    font-family: $lora; 
    margin-bottom: 65px;
    a{
        color:$black;
    }
    a:visited{
        color:$black;
    }
    a:active{
        color: $dark-cream;
        text-decoration: none;
    }
    a:hover{
        color:$blue;
        text-decoration: underline;
    }
}
img{
    width: 200px ;
    height: auto;
    @media (min-width: $break-large){
        &{
            margin-left: 100px;
            width: 240px;
            }  
        }
    
}
p{
    font-size: 15px;
}

@media only screen and (min-width: 60em) {
h1{
    font-size: 26pt;  
}
}