@media only screen and (min-width: 32.5em) {
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        list-style: none;
        font-size: 10px;
        text-align: center;
    }    
    .navigation li {
      display: block;
      flex: 1 1 100%;

    }
  
    .navigation li:first-child {
      display: none;
    }
    footer{
    border-radius: 10px;
    }
    .weathersummary{
      font-size: 8pt;
      
   }
    .Section2{
      display:block;
      width: 100%;
      background-color: white;
      margin-top: 30px;
      color:#12343b ;
      text-align: center;
      justify-content: center;
   }
   table, th, td {
     border: 1px solid #2d545e;
     padding: 10px;
   }
   th{
     background-color: #eefafd ;
   }
  
   tr img{
     width:50%;
   }
   #map{
     display:block;
    margin-top: 20px;
    border: solid 1px #2d545e;
    margin-left: 70px;
    width: 25%;
    float:left;
}
  }

  