@media only screen and (min-width: 60em) {
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        list-style: none;
        font-size: 20px;
    }    
    .navigation li {
      display: block;
      flex: 1 1 100%;

    }
  
    .navigation li:first-child {
      display: none;
    }
    footer{
    border-radius: 10px;
    }
    .weathersummary{
      font-size: 15pt;
      
   }
    .section2{
      display:block;
      width: 100%;
      background-color: white;
      color:#12343b ;
      text-align: center;
      justify-content: center;
   }
   table{
     display: table;
     width: 100%;
    margin-top: 30px;
   }
   table, th, td {
     border: 1px solid #2d545e;
     border-collapse: collapse;
     padding: 10px;
   }
   th{
     background-color: #2d545e ;
     color:white;
   }
  
   #map{
     display:block;
    margin-top: 20px;
    border: solid 1px #2d545e;
    margin-left: 70px;
    width: 25%;
    float:left;
}
}

  