@charset "utf-8";

#contentL2 {
    font-size:16px;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}

header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}
h1 {
    font-family: 'Libre Caslon Text', serif;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: dodgerblue;
    
}
p{
    font-family: 'Montserrat', sans-serif;
}


#S1 {
    margin-top: 75px;
}

#lushss img {
   height: 100px;
   padding: 20px;
   
}

#S2 {
    margin-top: 100px;
}

#googless img {
    border:2px solid #666;
    height: 100px;
    margin-top: 20px;
}
#S3 {
    margin-top: 100px;
    margin-bottom: 75px;
}

#yahooss img { 
    border:2px solid #666;
    height: 100px;
    margin-top: 20px;
}
footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 3px; 
    border-radius: 10px;
}
/* phone or basline view*************/
main {max-width: 767px;
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}
main section {
    margin: 0.5rem;
    border: 1px solid;
    padding: 0 1rem;
}
/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
    }
    /* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}
}

}
