@media only screen and (min-width: 32.5em) {
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        list-style: none;
        font-size: 10px;
        text-align: center;
    }    
    .navigation li {
      display: block;
      flex: 1 1 100%;

    }
  
    .navigation li:first-child {
      display: none;
    }
    footer{
    border-radius: 10px;
    }
  }

  