@media only screen and (min-width: 60em) {
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        list-style: none;
        font-size: 20px;
    }    
    .navigation li {
      display: block;
      flex: 1 1 100%;

    }
  
    .navigation li:first-child {
      display: none;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      
  }

  .cards section {
      display: grid;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      max-width: 100%;
      margin-right:10px;
     }

     .cards img {
      max-width: 70%;
      margin-left:29%;
      }

  .cards section div {
      background: none;
      position: relative;
      
      
  }
  #name{
    width:100%;
    margin-top:0px;
  }
  
  #motto{
    width:100%;
    margin-top:0px;
    margin-left:0px;
    
  }
section:nth-child(2) #motto{
  margin-left: 0px;
}
  #founded{
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  section:nth-child(2) #founded{
    margin-left:0px;
  }
  #population{
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  section:nth-child(2) #population{
    margin-left: 0px;
  }
  #rainfall{
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  section:nth-child(2) #rainfall{
    margin-left: 0px;
  }
    
    footer{
    border-radius: 10px;
    }

  }